/* 페이지네이션 설정 */
.listArea{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 37px;
}

.listArea *{
    margin: 12px;
    cursor: pointer;
}

.listArea span:not(:first-of-type,:last-of-type){
    padding: 3px 0px;
    border: 1px solid white;
    border-radius: 5px;
}

.listArea span:first-of-type,.listArea span:last-of-type{
    font-size: 18px;
    padding-top: 2px;
}

.listNumber:hover, .listNumber a:hover{
    color: #FFF;
    background-color: #FB836B;
    transition-duration: 200ms;
}

.listNumber{
    width: 35px;
    padding: 1px 0 0 1px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #333;
}

/*footer 영역*/
main{
    width: 100%;
    height: 100%;
}

.wrapper{
    height: auto;
    min-height: 100%;
}
#footerArea{
    position : relative;
    transform : translateY(-100%);
}