
#imgArea{
    width: 100%;
    height: 150px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 50px 0;
}

.fundingPaymentArea>div>div{
    /* border: 1px solid #FB836b; */
    border-top:2px solid #FB836b ;
    margin-top: 20px;
}

.paymentWrapper{
    width: 800px;
}

.resultInfo{
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid #f7a797;
}
.rewardTitle{
    color: #FB836b;
}
.resultInfo>span{
    margin-left:10px;
    font-weight: bold;
}
.deliveryFee{
    display: flex;
    flex-direction: row-reverse;
}
.deliveryFee>span{
    margin-left:10px;
    font-weight: bold;
}
.finalPay{
    display: flex;
    justify-content: space-between;
}



.supporterInfo{
    padding: 10px;
    list-style: none;
    background-color: #ddd;
    border-radius: 5px ;
    height: 380px;
}


#information{
    display: flex;
}
#information>div:nth-child(1){
    width: 50%;
}
#information>div:nth-child(2){
    width: 48%;
}

.supporterWrapper{
    margin-right: 15px;
}
.supporterInfo .fw-bolder{    font-size: 1.1em;}

.supporterInfo h3{
    color: #f7a797;
}
.supporterInfo li{
    margin-left: 20px;
    font-size: 18px;
}


/* -------------------------------------------------- */
/* 
.supporterInfo li:nth-child(3){
    margin-top: 20px;
    margin-left: 10px;
}
.supporterInfo li:nth-child(4){
    margin-bottom: 20px;
} */


.resultPay{
    width:110px;
}
/* -------------------------------------------------- */
.parcelInfo>.inputArea{
    margin-top: 10px;
}

.parcelInfo input:nth-child(1){
    margin-top: 20px;
}

.inputArea input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #FB836b;
    border-radius: 3px;
}
#postCodeArea{
    display: flex;
}
#findPostcode{
    width: 50%;
    height: 30px;
    border: 1px solid #FB836b;
    background-color: white;
    margin-bottom: 5px;
}
#findPostcode:hover{
    background-color: #FB836b;
    color: white;
}
#postCode{
    width: 45%;
    height: 30px;
    padding-left: 4px;
    margin-left: 5px;
}
#detailAddress:focus{
    outline-color: #f7a797;
}

.payment{
    display: none;
}
.payBtn{
    width: 100px;
    height: 80px;
    border: 1px solid #f7a797;
    background-color: white;
    display: block;
    margin: auto;
    text-align: center;
     
}
.pp{
    width: 100%;
    color: #FB836b;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.reversPp{
    color: white;
}
.reversBtnColor{
    border: 1px solid white;
    background-color: #f7a797;
    color: white;
}

.payBtn:hover{
    border: 1px solid white;
    background-color:#f7a797;

}
.paymentMeans{
    display: flex;
    justify-content: space-around;
}
.paymentMeans span{
    display: flex;
    justify-content: space-around;
}


.agreeWrapper a{
    text-decoration: none;
    color: #373737;
}



#goToPay{
    width: 100%;
    height: 50px;
    border: 1px solid #FB836b;
    background-color: white;
    color: #FB836b;
    margin-top: 50px;
    border-radius: 5px;
}
#goToPay:hover{
    border:1px solid white;
    background-color: #FB836b;
    color: white;
    border-radius: 5px;
}