/* .justify-content-center>div{
    margin: 20px 0;
    border-top: 3px solid #f1bbb0;
} */

/* 버튼영역 색 지정  */

.fundingScheduleArea{
    display: flex;
    justify-content: start;
}
.fundingScheduleArea p{
    font-size: 40px;
    color: #FB836b;
    padding: 0;
    margin: 0;
}
/* 카테고리 + 제목 영역 */
.intro{
    color: rgba(37, 37, 37, 0.5);
}

#titleCategory{
    display: flex;
    height: 45px;
}
#fundingCategory{
    width: 15%;
    height: 100%;
}
#fundingCategory>select{
    height: 100%;
}
#titleCategory>input{
    margin-left: 5px;
    padding-left: 10px;
    width: 80%;
    outline-color: #FB836b;
    /* border: none;
    border-bottom: 3px solid #ddd; */
    border: 1px solid #ddd;
    border-radius: 8px;
}
#subheadInput{
    width: 100%;
    height: 100px;

    border: 1px solid #ddd;
    resize: none;
    outline-color: #FB836b;
}

#deliveryFee{
    height: 150px;
    display: block;
}
#deliveryFee table td{
    text-align: left;
}
#deliveryFee span{
    margin-right: 4px;
    font-size: 20px;
    font-weight: bold;
}
#deliveryFee input{
     border: 1px solid #FB836b;
     outline: none;   
     height: 30px;
     width: 220px;
}
/* 리워드 영역 */
#rewardsArea>div:nth-child(3){
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;
}
#addRewardBtn{
    width: 40px;
    height: 40px;

    border: 2px solid #FB836b;
    border-radius: 3px;
    background-color: white;

}
#addRewardBtn:hover{
    border: 2px solid #ddd;
    border-radius: 3px;
    background-color: #FB836b;
}

.table-bordered th,td{
    height: 40px !important;
    text-align: center;
}
.table-bordered th{
    color: #f5bfb5;
}
.rewardsRows>tr>td:nth-child(1){
    width: 50px;
}
.rewardsRows input{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    border: none;
}
.rewardsRows input:focus{
    border-bottom: 2px solid #f1bbb0;
    outline: none;
}

.rewardsAddBtn:hover{
    background-color:white;
    border: 1px solid #FB836b;
    color: #FB836b;
}
.rewardsAddBtn{
    width: 100%;
    height: 100%;
    background-color: #FB836b;
    border: 1px solid white;
    color: white;
}

.added{
    background-color: #ddd;
    border: black;
}



/* 섬머노트 추가할 영역 */
#summernoteArea > textarea{
    width: 100%;
    height: 400px;
}


#writeBtn{
    width: 100%;
    margin-top: 40px;
    height: 60px;
    background-color: #FB836b;
    border: none;
}

#writeBtn:hover{
    background-color: white;
    color: #FB836b;
    border: 1px solid #FB836b;
}



/* ------------------------------------썸네일 이미지 추가 _-------------------- */

.thumbnailArea{
    width: 100%;
    height: 300px;
}
.thumbnailArea>div:nth-child(1){
    height: 25px;
   
}
.previewArea{
    width: 100%;
    height: 150px;
    background-color: #ddd;
    margin-bottom: 15px;
}
/* 프리뷰 이미지 지정 영역 */
#previewImage{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.profile-area{
    height: 40px;
    float: left;
    display: flex;
}

.profile-area label{
    height: 100%;
    width: 110px;
    background-color: #FB836b;
    color: white;
    padding: 5px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}
#deleteBtn{ 
    height: 100%;
    width: 110px;
    background-color: #FB836b;
    color: white;
    border: 1px solid white;

}
#input-image{
    display: none;
}



/* ------------------------ */
h4{
    margin-top: 20px;
    border-top: 2px solid #FB836b;
    padding-top: 20px;
}

.btn-secondary{
    color: gray !important;
    background-color: white  !important;
    border: none;
  }