
#imgArea{
    width: 100%;
    height: 150px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 50px 0;
}

.fundingPaymentArea>div>div{
    /* border: 1px solid #FB836b; */
    /* border-top:2px solid #FB836b ;
    margin-top: 20px; */
    margin-bottom: 90px;
}

.paymentWrapper{
    width: 800px;
}
/* 새로만든 class */
.sujin{
	position:relative;
	border-bottom: 1px solid #f7a797;
	padding: 10px 0;
	margin: 10px 0;
}
.resultInfo{
    display: flex;
    flex-direction: row-reverse;
    /* border-bottom: 1px solid #f7a797; */
    height: 30px;
    margin: 12px 0;
    
    /* sujin class 만들면서 위치조정 */
    position: absolute;
    text-align:right;
    right:0;
    top:30px;
}
.rewardTitle{
    color: #FB836b;
}
.resultInfo>span{
    margin-left:10px;
    font-weight: bold;
}
.deliveryFee{
    display: flex;
    flex-direction: row-reverse;
}
.deliveryFee>span{
    margin-left:10px;
    font-weight: bold;
}
.finalPay{
    display: flex;
    justify-content: space-between;
}



.supporterInfo{
    padding: 20px 30px;
    list-style: none;
    background-color: #ddd;
    border-radius: 5px ;
    height: 410px;
    margin-right: 30px;
}


#information{
    display: flex;
}
#information>div:nth-child(1){
    width: 50%;
}
#information>div:nth-child(2){
    width: 48%;
}

.supporterWrapper{
    margin-right: 15px;
}
.supporterInfo .fw-bolder{    font-size: 1.1em;}

.supporterInfo h3{
    color: #fff;
    margin-bottom: 5px;
}
.supporterInfo li{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
}


/* -------------------------------------------------- */
/* 
.supporterInfo li:nth-child(3){
    margin-top: 20px;
    margin-left: 10px;
}
.supporterInfo li:nth-child(4){
    margin-bottom: 20px;
} */


.resultPay{
    /* width:110px; */
}
/* -------------------------------------------------- */
.parcelInfo>.inputArea{
    margin-top: 10px;
}

.parcelInfo input:nth-child(1){
    margin-top: 20px;
}

.inputArea input{
    display: block;
    width: 100%;
    border: 1px solid #FB836b;
    border-radius: 3px;
    margin-left:0px;
    margin : 5px 0 15px 0;
    padding-left: 6px;
    height: 33px;
}
#postCodeArea{
    display: flex;
    justify-content: space-between;
}
#findPostcode{
    width: 50%;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    border: 1px solid #FB836b;
    background-color: #FB836b;
    color: white;
    border-radius:3px;
}
#findPostcode:hover{
    background-color: #FB836b;
}
#postCode{
    width: 48%;
    height: 30px;
    padding-left: 4px;
    margin-left: 5px;
}
#detailAddress:focus{
    outline-color: #f7a797;
}

.payment{
    display: none;
}
.payBtn{
    width: 240px;
    height: 110px;
    border: 1px solid #999;
    background-color: white;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 20px;
     
}
.pp{
    width: 100%;
    color: #FB836b;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.reversPp{
    color: white;
}
.reversBtnColor{
    border: 1px solid white;
    background-color: #f7a797;
    color: white;
}

.payBtn:hover{
    border: 1px solid white;
    background-color:#f7a797;
}
.paymentMeans{
    display: flex;
    justify-content: space-around;
}
.paymentMeans span{
    display: flex;
    justify-content: space-around;
}


.agreeWrapper a{
    text-decoration: none;
    color: #373737;
}



#goToPay{
    width: 100%;
    height: 50px;
    border: 1px solid #FB836b;
    background-color: white;
    color: #FB836b;
    border-radius: 5px;
}
#goToPay:hover{
    border:1px solid white;
    background-color: #FB836b;
    color: white;
    border-radius: 5px;
}
 
#pointArea{
    padding: 10px;
    margin: 10px;
}
#pointArea input{
    border: 1px solid #FB836b;
    border-radius: 3px;
    padding: 5px;
}
#usePointArea{
    margin-top: 10px;
}

#pointArea span{
    display: inline-block;
    width: 60px;
    font-weight: bold;
    font-size: 18px;
}
#pointArea input{
    text-align: right;
    width: 140px;
    height: 100%;
    margin-left: 20px;
}
#useAll{
    width: 80px;
    height: 30px;

    background-color: #f7a797;
    border: 1px solid white;
    color: white;
    
    font-size: 13px;
}