<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<resultMap type="board" id="board_rm">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="category" column="CATEGORY"/>
		<result property="boardPeriod" column="BOARD_PERIOD"/>
		<result property="boardPeriod2" column="BOARD_PERIOD2"/>
		<result property="phone" column="PHONE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="updateDate" column="UPDATE_DT"/>
		<result property="memberName" column="MEMBER_NM"/>
		<result property="animalDetail" column="ANIMAL_DETAIL"/>
		<result property="animalType" column="ANIMAL_TYPE"/>
		<result property="areaDetail" column="AREA_DETAIL"/>
	</resultMap>
	
	<resultMap type="animal" id="animal_rm">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="animalType" column="ANIMAL_TYPE"/>
		<result property="animalDetail" column="ANIMAL_DETAIL"/>
		<result property="gender" column="GENDER"/>
		<result property="neutering" column="NEUTERING"/>
	</resultMap>
	
	<resultMap type="area" id="area_rm">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="area" column="AREA"/>
		<result property="areaDetail" column="AREA_DETAIL"/>
	</resultMap>
	
	<!-- 게시판 등록 -->
	<insert id="userBoardRegist">
		INSERT INTO BOARD
		VALUES(SEQ_BOARD_NO.NEXTVAL, #{boardTitle}, #{boardContent}, SYSDATE, NULL, #{category}, 'N', 
		TO_DATE(#{boardPeriod},'YYYY-MM-DD'),#{phone},2,#{memberNo},TO_DATE(#{boardPeriod2},'YYYY-MM-DD'))
	</insert>
	
	<!-- 게시판 등록 후 게시판 번호 추출 -->
	<select id="getBoardNo" resultType="_int">
		SELECT BOARD_NO FROM (SELECT BOARD_NO, ROWNUM AA FROM (
	    SELECT ROWNUM RNUM, BOARD_NO FROM BOARD
	    WHERE BOARD_ST = 'N'
	    AND BOARD_CD = 2
	    ORDER BY BOARD_NO DESC
		))WHERE AA = 1
	</select>
	
	<!-- 지역 사항 추가 -->
	<insert id="userBoardArea">
		INSERT INTO BOARD_AREA VALUES(#{boardNo},#{area},#{areaDetail})
	</insert>
	
	<!-- 동물 상세 사항 추가 -->
	<insert id="userBoardAnimal">
		INSERT INTO BOARD_ANIMAL VALUES(#{boardNo},#{animalType},#{animalDetail},#{gender},#{neutering})
	</insert>
	
	<!-- 지역 리스트 출력 -->
	<select id="areaList" resultMap="area_rm">
		SELECT DISTINCT AREA FROM AREA_DB
		ORDER BY AREA
	</select>
	
	<!-- 상세 지역 리스트 출력 -->
	<select id="loadAreaList" parameterType="string" resultMap="area_rm">
		SELECT AREA_DETAIL FROM AREA_DB
		WHERE AREA = #{area}
		ORDER BY AREA_DETAIL
	</select>
	
	<!-- 게시글 리스트 출력 -->
	<select id="boardList" resultMap="board_rm">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NM, TO_CHAR(CREATE_DT,'YYYY-MM-DD') CREATE_DT, 
		UPDATE_DT, AREA, AREA_DETAIL, ANIMAL_TYPE, ANIMAL_DETAIL, GENDER, NEUTERING, CATEGORY,
		BOARD_PERIOD, BOARD_PERIOD2
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		JOIN BOARD_AREA USING(BOARD_NO)
		JOIN BOARD_ANIMAL USING(BOARD_NO)
		WHERE BOARD_CD = 2
		AND BOARD_ST = 'N'
	</select>
	
	<!-- 상세 게시글 출력 -->
	<select id="boardDetail" resultMap="board_rm">
		SELECT BOARD_NO,BOARD_TITLE, BOARD_CONTENT , TO_CHAR(CREATE_DT,'YYYY-MM-DD') CREATE_DT, UPDATE_DT,
		MEMBER_NM, MEMBER_NO FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_NO = ${boardNo}
	</select>
	
	<!-- 품종 리스트 출력 -->
	<select id="loadAnimalList" resultMap="animal_rm">
		SELECT ANIMAL_DETAIL FROM ANIMAL_DB
		WHERE ANIMAL_TYPE = #{animalType}
	</select>
	
	<!-- DB BOARD_CONTENT 리스트 조회 (스케줄러용) -->
	<select id="selectDBList" resultType="string">
		SELECT BOARD_CONTENT FROM BOARD
	</select>
</mapper>
