<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<!-- 게시글 목록용 resultMap -->   
	<resultMap type="board" id="board_rm">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="boardSt" column="BOARD_ST"/>
	</resultMap>
	
	<!-- 게시글 상세조회용 resultMap -->   
	<resultMap type="detail" id="detail_rm">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="updateDate" column="UPDATE_DT"/>
		<result property="boardSt" column="BOARD_ST"/>
		<result property="category" column="CATEGORY"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NM"/>
		<result property="boardPeriod" column="BOARD_PERIOD"/>
	</resultMap>
	
	<!-- 템플릿 조회용 resultMap -->
	<resultMap type="template" id="template_rm">
		<id property="tempNo" column="TEMP_NO"/>
		<result property="tempName" column="TEMP_NM"/>
		<result property="tempContent" column="TEMP_CONTENT"/>
		<result property="tempState" column="TEMP_ST"/>
	</resultMap>
	
	<!-- 펀딩 내용만 조회 (스케줄러용) -->
	<select id="selectFundingList" resultType="string">
	SELECT FUNDING_CONTENT FROM FUNDING
	</select>
	
	<!-- 게시글 수 조회 -->
	<select id="getListCount" resultType="_int">
	SELECT COUNT(*) FROM BOARD
	WHERE BOARD_CD = 6
	AND BOARD_ST = 'N'
		<if test='loginMember!=null'>
			AND MEMBER_NO = #{loginMember}
		</if> 
	</select>
	
	<!-- 게시글 목록 조회 -->
	<select id="selectNoticeList" resultMap="board_rm" >
 	SELECT BOARD_NO, BOARD_TITLE,
            CASE WHEN SYSDATE - CREATE_DT &lt; 1
                 THEN TO_CHAR(CREATE_DT, 'HH24:MI')
                 ELSE TO_CHAR(CREATE_DT, 'YYYY-MM-DD')
            END CREATE_DT,
            TO_CHAR(CREATE_DT, 'YYYY-MM-DD') CATEGORY,
            BOARD_ST          
    FROM BOARD
    WHERE BOARD_CD = 6
    AND BOARD_ST = 'N'
    ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectNoticeDetail" resultMap="detail_rm">
	SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT,
		   TO_CHAR(CREATE_DT, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') CREATE_DT,
		   TO_CHAR(UPDATE_DT, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') UPDATE_DT,
		   BOARD_ST
	FROM BOARD
	WHERE BOARD_NO = ${boardNo}
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="insertBoard"  parameterType="detail" useGeneratedKeys="true">
	  
		<selectKey keyProperty="boardNo" resultType="_int" order="BEFORE">
		   SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO BOARD VALUES(
		   #{boardNo}, #{boardTitle}, #{boardContent}, 
		   DEFAULT, DEFAULT, NULL, DEFAULT, NULL, NULL, 6, 1, NULL, NULL)  
		    
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard">
	UPDATE BOARD SET 
	BOARD_TITLE = #{boardTitle},
	BOARD_CONTENT = #{boardContent},
	UPDATE_DT = SYSDATE
	WHERE BOARD_NO = #{boardNo}
	AND BOARD_CD = 6
	AND BOARD_ST = 'N'
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoard">
	UPDATE BOARD SET
	BOARD_ST = 'Y'
	WHERE BOARD_NO = #{boardNo}
	AND BOARD_CD = 6
	</update>
	
	
	<!-- 문의사항 게시글 수 조회 -->
	<select id="paginationCount" resultType="_int" parameterType="member">
	SELECT COUNT(*) FROM BOARD
	WHERE BOARD_CD = 5 
	AND BOARD_ST = 'N'
		<if test='memberType!="A"'>
			AND MEMBER_NO = #{memberNo}
		</if>
	</select>
	
	
	<!-- 게시글 목록 조회 : 노션에 따로 공부하기 ㅎ.. -->
	<select id="selectAskList" resultMap="board_rm" parameterType="member">
	SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, MEMBER_NO, 
	      CASE WHEN SYSDATE - CREATE_DT &lt; 1
	         THEN TO_CHAR(CREATE_DT, 'HH24:MI')
	         ELSE TO_CHAR(CREATE_DT, 'YYYY-MM-DD')
	      END CREATE_DT,
	      TO_CHAR(CREATE_DT, 'YYYY-MM-DD') BOARD_PERIOD,
	      BOARD_ST,
	      BOARD_NAME AS CATEGORY
	FROM BOARD B
	JOIN BOARD_TYPE T ON(CATEGORY= T.BOARD_CD)
	WHERE B.BOARD_CD =5
	AND BOARD_ST = 'N'
	<if  test='memberType!="A"'>
			AND MEMBER_NO = #{memberNo}
	</if>
	ORDER BY BOARD_NO DESC
	</select>
	
	
	<!-- 게시글 상세 조회 -->
	<select id="selectAskDetail" resultMap="detail_rm">
	SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, MEMBER_NO, MEMBER_NM,
	      TO_CHAR(CREATE_DT, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') CREATE_DT,
	      TO_CHAR(UPDATE_DT, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') UPDATE_DT,
	      BOARD_ST,
	      BOARD_NAME AS CATEGORY
	FROM BOARD B
	JOIN MEMBER USING (MEMBER_NO)
	JOIN BOARD_TYPE T ON(CATEGORY= T.BOARD_CD)
	WHERE BOARD_NO = ${boardNo}
	AND BOARD_ST = 'N'
	</select>
	
	
		
	<!-- 게시글 작성 -->
	<insert id="insertAskWrite"  parameterType="detail" useGeneratedKeys="true">
		<selectKey keyProperty="boardNo" resultType="_int" order="BEFORE">
		   SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		   INSERT INTO BOARD VALUES(#{boardNo}, #{boardTitle}, #{boardContent}, DEFAULT, NULL, #{category}, DEFAULT, NULL, 
			NULL, 5, #{memberNo}, NULL,NULL)
		    
	</insert>
	
	<!-- 템플릿 조회 -->
	<select id="selectTemplate" resultMap="template_rm">
	SELECT * FROM TEMPLATE
	WHERE TEMP_ST = 'N' ORDER BY TEMP_NO
	</select>
	
	<!-- 템플릿 삽입 -->
	<insert id="insertTemplate">
	INSERT INTO TEMPLATE VALUES(SEQ_TEMP_NO.NEXTVAL, #{tempName}, #{tempContent}, DEFAULT)
	</insert>
	
	<!-- 템플릿 삭제 -->
	<update id="deleteTemplate">
	UPDATE TEMPLATE SET TEMP_ST = 'Y'
	WHERE TEMP_NO IN(${tempNo})
	</update>
	
  
</mapper>
