<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<!-- 게시글 목록용 resultMap -->   
	<resultMap type="board" id="board_rm">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="boardSt" column="BOARD_ST"/>
	</resultMap>
	
	<!-- 게시글 수 조회 -->
	<select id="getListCount" resultType="_int">
	SELECT COUNT(*) FROM BOARD
	WHERE BOARD_CD = 6
	</select>
	
	<!-- 게시글 목록 조회 -->
	<select id="selectBoardList" resultMap="board_rm">
	SELECT BOARD_NO, BOARD_TITLE,
            CASE WHEN SYSDATE - CREATE_DT &lt; 1
                 THEN TO_CHAR(CREATE_DT, 'HH:MI')
                 ELSE TO_CHAR(CREATE_DT, 'YYYY-MM-DD')
            END CREATE_DT,
            BOARD_ST          
    FROM BOARD
    WHERE BOARD_CD = 6
    ORDER BY BOARD_NO DESC
	</select>
  
</mapper>
